body {
  font-family: "JetBrains Mono";
  margin: 5px;
  background: #111827;
  color: #f1f5f9;
}

.mainContainer {
  position: absolute;
  inset: 0px;
  padding: 10px;
  max-width: 1200px;
  margin-inline: auto;
}



.mapContainer {
  display:flex;
  gap: 10px;

}



#game {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mapContainer > div {
  width: 200px;
  flex-grow: 1;
  position: relative;
}


#map {
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

#map .leaflet-marker-icon {
  background: none;
  border: none;
}

#map .leaflet-marker-icon .normalMarker.hovered {
  transform: scale(1.5);
  outline: 2px solid #00175e;
  outline-offset: 2px;
}

#map .leaflet-marker-icon .normalMarker {
  position: absolute;
  background-color: rgb(14 116 144);
  outline-offset: -2px;
  width: 10px;
  height: 10px;
  left: 50%;
  border-radius: 50% 50% 50% 0px;
  border: 2px solid black;
  outline: 2px solid transparent;
  rotate: -45deg;
  transform-origin: left bottom;
  bottom: 50%;
  animation: markerAnimation 1s;
  transition: all .2s;
}

#map .leaflet-marker-icon .normalMarker.headed {
  background-color: #3b82f6;
}
#map .leaflet-marker-icon .normalMarker.current {
  background-color: #a5f3fc;
}

#map .leaflet-marker-icon .normalMarker::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: black;
  width: 4px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#map .leaflet-marker-icon .dotMarker {
  position: absolute;
  border-radius: 50%;
  background-color: #002a39;
  width: 13px;
  height: 13px;
  display: grid;
  place-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

#map .leaflet-marker-icon .dotMarker p {
  margin: 0px;
  font-size: 10px;
  color: black;
  font-family: "JetBrains Mono";
  font-weight: 500;
}

.leaflet-popup-content-wrapper {
  background-color: #1e293b;
  color: white;
  font-family: "JetBrains Mono";
  padding: 5px 5px;
  padding-block: 2px;
  border-radius: 5px;
  margin-top: -10px;
  position: relative;
  top: -10px;
}
.leaflet-popup-content {
  margin: 0px;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-tip-container {
  margin-top: -18px;
  z-index: -1;
}
.leaflet-popup-tip {
  background-color: #1e293b;
}

@keyframes markerAnimation {
  0% {
      transform: scale(2) translateY(-30px) translatex(25px);
  }
  100% {
      transform: scale(1);
  }
}


.leaflet-bottom.leaflet-right {
  display: none;
}

.infoContainer {
  border: 2px solid #475569;
  padding: 10px;
  border-radius: 10px;
  display:flex;
  gap: 10px;
  flex-direction: column;
  background-color: #1e293b;

  .column {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    > span {
      font-weight: bold;
      &:last-child {text-align: right;}
    }
    .text {
      font-weight: normal;
      white-space: nowrap;
    }
  }
  
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;

  table {
    margin-top: -10px;
    border-collapse: separate;
    border-spacing: 0 10px;

    .button {
      position: relative;
      border-radius: 10px;
      cursor: pointer;
      background-color: transparent;
      color: #cffafe;
      font-family: "JetBrains Mono";
      font-size: 16px;
      text-align: left;
      margin-bottom: 10px; 
      transition: .2s all;

      td {
        padding: 15px;
        border: none;
        transition: .15s all;
      }

      .country {
        color: #ecfeff;
        font-weight: 500;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0px;
        background: #164e63;
        border-radius: 10px;
        border: 2px solid #0891b2;
        z-index: -1;
        transition: .15s all;
      }
    }
    
  }
  
  &:not(.disabled) {
    .button:hover::before {
      border-color: #22d3ee;
      background: #0e7490
    }

    .button:hover {
      transform: scale(1.009);
    }
  }
  
  &.disabled {
    .button {
      cursor: default;
      &:not(.selected) td,
      &:not(.selected)::before {opacity: .5} 
      &.selected::before {
        background-color: #0e7490;
        border-color: #0891b2;
        border-color: #a5f3fc;
        color: #cffafe;
      } 
    }
  }
}



#nappi {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  background-color: #0e7490;
  border-radius: 10em;
  padding: 1em;
  margin: 1.4em 0 ;
  text-shadow: 0 0 10px rgb(183, 179, 180);
}

thead {
  text-align: left;
}

tr.selected {
  background-color: green;
}




.mainMenuButtons {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 30px;
}

.mainMenuButtons button {
  border-color: #22d3ee;
  background: #0e7490;
  border-radius: 10px;
  border-style: solid;
  color: #cffafe;
  padding: 5px;
  margin: 30px;
  font-weight: 500;
}

.mainMenuButtons button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.choiceButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;

  button {
    position: relative;
    border: 2px solid #0284c7;
    border-radius: 10px;
    width: 100%;
    font-weight: 500;
    background: #075985;
    color: #bae6fd;
    padding-block: 5px;
    font-size: 18px;
    font-family: "JetBrains Mono";
    transition: 0.2s all;

    &.disabled {
      opacity: .3;
      cursor: default;
    }

    &:not(.disabled) {
      &:hover {
        transform: scale(1.015);
        border-color: #0ea5e9;
        background: #0369a1;
        color: #e0f2fe;
        cursor: pointer;
      }

      &:active {
        transform: scale(1);
        border-color: #38bdf8;
      }
    }
  }
}


form {

  .isocodeWrapper {
    position: relative;
    display: grid;
    place-items: center;
    .error {
      // display: block;
      // position: absolute;
      background-color: red;

      &.hidden {
        display: none;
      }
    }
  }
}
